<nav class="fixed bottom-0 left-0 right-0 bg-white border-t border-gray-200 shadow-lg z-50">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex justify-around items-center h-16">
      <!-- Discover -->
      <a 
        routerLink="/discover"
        [class.text-blue-600]="isActive('/discover')"
        [class.text-gray-600]="!isActive('/discover')"
        class="flex flex-col items-center justify-center flex-1 h-full transition-all duration-300 hover:text-blue-600 relative group">
        <ng-icon 
          name="heroMagnifyingGlass" 
          size="24"
          [class.scale-110]="isActive('/discover')"></ng-icon>
        <span 
          class="text-xs font-medium mt-1"
          [class.font-bold]="isActive('/discover')">
          Discover
        </span>
        <div 
          *ngIf="isActive('/discover')" 
          class="absolute top-0 left-1/2 transform -translate-x-1/2 w-12 h-1 bg-gradient-to-r from-blue-500 to-purple-500 rounded-b-full">
        </div>
      </a>

      <!-- My Events -->
      <a 
        routerLink="/my-events"
        [class.text-blue-600]="isActive('/my-events')"
        [class.text-gray-600]="!isActive('/my-events')"
        class="flex flex-col items-center justify-center flex-1 h-full transition-all duration-300 hover:text-blue-600 relative group">
        <ng-icon 
          name="heroCalendar" 
          size="24"
          [class.scale-110]="isActive('/my-events')"></ng-icon>
        <span 
          class="text-xs font-medium mt-1"
          [class.font-bold]="isActive('/my-events')">
          My Events
        </span>
        <div 
          *ngIf="isActive('/my-events')" 
          class="absolute top-0 left-1/2 transform -translate-x-1/2 w-12 h-1 bg-gradient-to-r from-blue-500 to-purple-500 rounded-b-full">
        </div>
      </a>

      <!-- Settings -->
      <a 
        routerLink="/settings"
        [class.text-blue-600]="isActive('/settings')"
        [class.text-gray-600]="!isActive('/settings')"
        class="flex flex-col items-center justify-center flex-1 h-full transition-all duration-300 hover:text-blue-600 relative group">
        <ng-icon 
          name="heroCog6Tooth" 
          size="24"
          [class.scale-110]="isActive('/settings')"></ng-icon>
        <span 
          class="text-xs font-medium mt-1"
          [class.font-bold]="isActive('/settings')">
          Settings
        </span>
        <div 
          *ngIf="isActive('/settings')" 
          class="absolute top-0 left-1/2 transform -translate-x-1/2 w-12 h-1 bg-gradient-to-r from-blue-500 to-purple-500 rounded-b-full">
        </div>
      </a>
    </div>
  </div>
</nav>
